h1{color: #0000ff;}
span{color: #ff0000;}
marquee{
background-image:url("world.jpg");}
#rebel{color: pink;
text-decoration:
line-through;}
.unicorn{background-image:url{
"world.jpg"}; height: 500px;
width: 500px;}
#red{background-color: red;}



